@model Kodhier.ViewModels.Admin.ManageViewModels.ManageDetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayAdmin.cshtml";
}
<link href="~/adm/css/Custom.css" rel="stylesheet" />

<header class="content__title"></header>

<div class="content__inner content__inner--sm">
    <header class="content__title">
        <h1>User profile: @Model.Username</h1>
        <small>Vardas Pavarde</small>
    </header>
    <div class="card">
        <div class="card-body">
            <h4>Current roles:</h4>
            @foreach (var item in Model.UserRoles)
            {

                @item

                <a asp-controller="Manage" asp-action="Delete" asp-all-route-data="@(new Dictionary<string, string>
                                                                                         {
                                                                                             { "id", Model.Username },
                                                                                             { "role", item }
                                                                                         })" title="remove"><i class="zmdi zmdi-delete"></i></a>
            }
            <div class="gap20">
                <h4>Add additional role</h4>
                <form asp-action="Create" asp-route-id="@Model.Username">
                    <select asp-for="NewRole" asp-items="@(new SelectList(Model.AllRoles))"></select>
                    <input type="submit" class="btn btn-outline-success create-button" />
                </form>
            </div>
        </div>
    </div>

    <div class="card profile">
        <div class="profile__info ">
            <ul class="icon-list ">
                <li><i class="zmdi zmdi-account"></i>Name: </li>
                <li><i class="zmdi zmdi-account"></i>Surname: </li>
                <li><i class="zmdi zmdi-phone"></i>Phone: </li>
                <li><i class="zmdi zmdi-email"></i>Email: </li>
                <li><i class="zmdi zmdi-balance-wallet"></i>Available balance:</li>
                <li><i class="zmdi zmdi-edit"></i>Change user password</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-body__title mb-4">Contact Information</h4>
            <ul class="icon-list">
                <li><i class="zmdi zmdi-phone"></i>+3706*******</li>
                <li><i class="zmdi zmdi-email"></i>gmail@gmail.com</li>
                <li><i class="zmdi zmdi-pin"></i>K. Donelaičio g. 73, LT-44249 Kaunas</li>
            </ul>
        </div>
    </div>
</div>