@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kodhier</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="~/assets/css/Carousel-Hero.css">
    <link rel="stylesheet" href="~/assets/css/copyright.css">
    <link rel="stylesheet" href="~/css/BetterMeniu.css" />
    <link rel="stylesheet" href="~/assets/css/Map-Clean.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
</head>
<body id="mainsec">
    <section>
        <nav class="navbar navbar-light navbar-expand-lg sticky-top bg-dark flex-wrap">
            <a class="navbar-brand d-inline-flex" asp-controller="Home" asp-action="Index">
                <img class="img-fluid" src="~/assets/img/minishef.png">
                <strong>kodhier</strong>
            </a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">@Localizer["Toggle navigation"]</span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" asp-controller="Home" asp-action="Index">
                            <i class="typcn typcn-home-outline"></i>
                            <strong>&nbsp;@Localizer["Home"]</strong>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" asp-controller="Order" asp-action="Index">
                            <i class="typcn typcn-clipboard"></i>
                            <strong>&nbsp;@Localizer["Menu"]</strong>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav mx-auto">
                    @await Html.PartialAsync("_LoginPartial")
                </ul>
            </div>
        </nav>
    </section>
    <div class="body-content">
        @RenderBody()
        <hr />
        <div class="footer">
            <footer>
                <div class="row">
                    <div class="col-11 text-md-center">
                        @await Html.PartialAsync("_SelectLanguagePartial")
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/js/Submenu.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
