<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kodhier</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="assets/fonts/typicons.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
        <link rel="stylesheet" href="assets/css/Carousel-Hero.css">
        <link rel="stylesheet" href="assets/css/copyright-sss.css">
        <link rel="stylesheet" href="assets/css/copyright-sss1.css">
        <link rel="stylesheet" href="~/css/BetterMeniu.css" />
        <link rel="stylesheet" href="assets/css/Map-Clean.css">
        <link rel="stylesheet" href="assets/css/styles.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body style="background-color:rgb(0,0,0);color:rgb(255,255,255);">

    <section id="mainsec" style="background-position:center;background-size:cover;background-repeat:no-repeat;">
        <nav class="navbar navbar-light navbar-expand-lg sticky-top bg-dark flex-wrap" style="font-size:13px;font-family:Montserrat, sans-serif;text-transform:uppercase;">
            <div class="container">
                <a class="navbar-brand d-inline-flex" asp-area="" asp-controller="Home" asp-action="Index" style="padding:0px;width:70px;color:rgb(210,169,149);font-size:25px;line-height:27px;text-shadow:0 0 1em;"><img class="img-fluid" src="assets/img/minishef.png"><strong>kodhier</strong></a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto" style="color:rgb(252,121,14);font-size:10px;">
                        <li class="nav-item" role="presentation"><a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index" style="text-align:center;color:rgb(140,87,55);font-size:15px;letter-spacing:2px;height:61px;text-shadow:0 0 1em;"><i class="typcn typcn-home-outline" style="font-size:30px;"></i><strong>&nbsp;HOME</strong></a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index" style="text-align:center;color:rgb(140,87,55);font-size:15px;letter-spacing:2px;height:61px;text-shadow:0 0 1em;"><i class="typcn typcn-gift" style="font-size:30px;"></i><strong>&nbsp;BEST OFFERS</strong></a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index" style="text-align:center;color:rgb(140,87,55);font-size:15px;letter-spacing:2px;height:61px;text-shadow:0 0 1em;"><i class="typcn typcn-clipboard" style="font-size:30px;"></i><strong>&nbsp;MENIU</strong></a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index" style="text-align:center;color:rgb(140,87,55);font-size:14px;letter-spacing:2px;height:61px;text-shadow:0 0 1em;"><i class="typcn typcn-compass" style="font-size: 30px;"></i><strong>&nbsp;ABOUT</strong></a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index" style="text-align:center;color:rgb(140,87,55);font-size:15px;letter-spacing:2px;height:61px;text-shadow:0 0 1em;"><i class="typcn typcn-location-outline" style="font-size:30px;"></i><strong>&nbsp;CONTACT</strong></a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>
    </section>
    <div class="container body-content">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
                integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
                integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
                crossorigin="anonymous"></script>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/BetterMeniu.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
