@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    @await Component.InvokeAsync("Dropdown")
}
else
{
    <ul class="nav navbar-nav mx-auto">
        <li class="nav-itemLogged" role="presentation">
            <a class="nav-link active" asp-controller="Account" asp-action="Login">
                <strong>@Localizer["Log in"]</strong>
            </a>
        </li>
        <li class="nav-itemreg" role="presentation">
            <a class="nav-link active" asp-controller="Account" asp-action="Register">
                <strong>@Localizer["Register"]</strong>
            </a>
        </li>
    </ul>
}
