@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.Name;
    var cultureItems = LocOptions.Value.SupportedUICultures;
}
<style type="text/css">
    .flag {
        width: 40px;
        height: 20px;
    }
</style>

<li class="dropdown nav-itemGreetings">
    <div class="dropdown-toggle" data-toggle="dropdown">
        <img src="~/images/flag_@(requestCulture).png" class="flag" alt="@requestCulture" />
    </div>
    <div class="dropdown-menu dropdown-menu-right form-group">
        @foreach (var ci in cultureItems)
        {
            <form id="selectLanguage" asp-controller="Home" asp-action="SetLanguage" method="post" class="form-group" role="form">
                <input name="culture" type="hidden" value="@ci.Name" />
                <div class="nav-itemDropdown" onclick="this.parentElement.submit()">
                    <img src="~/images/flag_@(ci.Name).png" class="flag" alt="@ci.Name" /> <span style="color: aliceblue; text-transform: capitalize">@ci.NativeName.Split(' ')[0]</span>
                </div>
            </form>
        }
    </div>
</li>
