@{
    Layout = "~/Areas/Admin/Views/Shared/_LayAdmin.cshtml";
    ViewData["Title"] = "Home Page";
}

<header class="content__title">
    <h1>Homepage slider</h1>
    <small>Update your news!</small>
</header>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Slide - 1</h4>
                <ul class="icon-list ">
                    <li><i class="zmdi zmdi-comment-text"></i></li>
                    <li><i class="zmdi zmdi-comment-alt-text"></i></li>
                    <li><i class="zmdi zmdi-image"></i></li>
                    <li>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Disable order button</span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Enable slide</span>
                        </label>
                    </li>
                </ul>
                <div class="float-right form-group">
                    <input type="submit" value="Change" class="btn btn-outline-success" style="cursor:pointer; margin:5px 5px 5px 20px" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Slide - 2</h4>
                <ul class="icon-list ">
                    <li><i class="zmdi zmdi-comment-text"></i></li>
                    <li><i class="zmdi zmdi-comment-alt-text"></i></li>
                    <li><i class="zmdi zmdi-image"></i></li>
                    <li>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Disable order button</span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Enable slide</span>
                        </label>
                    </li>
                </ul>
                <div class="float-right form-group">
                    <input type="submit" value="Change" class="btn btn-outline-success" style="cursor:pointer; margin:5px 5px 5px 20px" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Slide - 3</h4>
                <ul class="icon-list ">
                    <li><i class="zmdi zmdi-comment-text"></i></li>
                    <li><i class="zmdi zmdi-comment-alt-text"></i></li>
                    <li><i class="zmdi zmdi-image"></i></li>
                    <li>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Disable order button</span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Enable slide</span>
                        </label>
                    </li>
                </ul>
                <div class="float-right form-group">
                    <input type="submit" value="Change" class="btn btn-outline-success" style="cursor:pointer; margin:5px 5px 5px 20px" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Slide - 4</h4>
                <ul class="icon-list ">
                    <li><i class="zmdi zmdi-comment-text"></i></li>
                    <li><i class="zmdi zmdi-comment-alt-text"></i></li>
                    <li><i class="zmdi zmdi-image"></i></li>
                    <li>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Disable order button</span>
                        </label>
                    </li>
                    <li>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Enable slide</span>
                        </label>
                    </li>
                </ul>
                <div class="float-right form-group">
                    <input type="submit" value="Change" class="btn btn-outline-success" style="cursor:pointer; margin:5px 5px 5px 20px" />
                </div>
            </div>
        </div>
    </div>
</div>