<!--
// Format rules:
// {0} - Amount paid. Includes money.
// {1} - _localizer["Thank you for using Kodhier services"]
// {2} - user
// {3} - order id
// {4} - payment date
// {5} - formatted cart with html
// {6} - _localizer["Total"]
// {7} - total money with symbol
// {8} - CSS of ducument
// {9} - _localizer["Username"]
// {10} - _localizer["Order ID"]
// {11} - _localizer["Payment date"]
// {12} - _localizer["Name"]
// {13} - _localizer["Unit price"]
// {14} - _localizer["Quantity"]
// {15} - _localizer["Subtotal"]
-->
<!DOCTYPE html>
<html>
<head>
    <title>Invoice</title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        {8}
    </style>
    <link href="Confirm_Order.css" rel="stylesheet" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
    <div class="body-wrap">
        <div class="container" width="600">
            <div class="content">
                <div class="main">
                    <div class="content-wrap aligncenter">
                        <table>
                            <tr>
                                <td>
                                    <img src="http://91.211.246.254/assets/img/minishef.png" alt="Kodhier logo">
                                </td>
                            </tr>
                            <tr>
                                <td class="content-block">
                                    <h1 class="aligncenter">{0}</h1>
                                </td>
                            </tr>
                            <tr>
                                <td class="content-block">
                                    <h2 class="aligncenter">{1}.</h2>
                                </td>
                            </tr>
                            <tr>
                                <td class="content-block aligncenter">
                                    <table class="invoice">
                                        <tr>
                                            <td>
                                                <b>{9}: </b>{2}
                                                <br>
                                                <b>{10}: </b>{3}
                                                <br>
                                                <b>{11}: </b>{4}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table class="invoice-items">
                                                    <thead>
                                                        <tr>
                                                            <th class="alignleft">{12}</th>
                                                            <th class="aligncenter">{13}</th>
                                                            <th class="aligncenter">{14}</th>
                                                            <th class="alignright">{15}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {5}
                                                    </tbody>
                                                </table>
                                                <table class="invoice-items">
                                                    <tr class="total">
                                                        <td class="alignright" width="75%">{6}</td>
                                                        <td class="alignright">{7}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="content-block aligncenter">
                                    Kodhier
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="footer">
                    <table>
                        <tr>
                            <td class="aligncenter content-block">Email <a href="mailto:">support@kodhier.com</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
