@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Confirm email"];
}
<link rel="stylesheet" type="text/css" href="~/css/Profile.css" />

<div class="col-md-12 col-sm-12">
    <div class="modal-header">
        <h2>@ViewData["Title"]</h2>
    </div>   
    <div class="col-md-6 mx-auto">
        <div class="main text-center">
            @Localizer["Thank you for confirming your email."]
        </div>
    </div>
</div>