@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = Localizer["Reset password"];
}

<link rel="stylesheet" type="text/css" href="~/css/LogInPage.css" />

<div class="main">
    <form asp-action="ForgotPassword" method="post" id="login-box">
        <header>
            <img src="~/images/icon.png" />
            <h2>@ViewData["Title"]</h2>
        </header>
        <div class="form-group">
            <label asp-for="Email">@Localizer["Enter your email"]</label>
            <input asp-for="Email" class="form-control" placeholder="@Localizer["your@email.com"]" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn">@Localizer["Submit"]</button>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
