@model ResetPasswordViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Reset password"];
}

<link rel="stylesheet" type="text/css" href="~/css/RegisterPage.css" />

<div class="main">
    <header>
        <img src="~/images/icon2.png" />
        <h4>@ViewData["Title"]</h4>
    </header>
    <form method="post">
        <input asp-for="Code" type="hidden" />
        <input asp-for="Id" type="hidden" />
        <div class="form-group">
            <label asp-for="Password">@Localizer["New password"]</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword">@Localizer["Confirm new password"]</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn">@Localizer["Reset"]</button>
    </form>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
