@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Reset password confirmation";
}

<link rel="stylesheet" type="text/css" href="~/css/Profile.css" />

<div class="col-md-12 col-sm-12">
    <div class="modal-header">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-md-6 mx-auto">
        <div class="main text-center">
            @Localizer["Your password has been reset. Please proceed to log in"].
        </div>
    </div>
</div>