@model Kodhier.ViewModels.NavbarViewModel
@using Kodhier.Extensions

<ul class="nav navbar-nav">
    <li>
        <a class="nav-link active" asp-controller="Checkout" asp-action="Index"><img class="rounded-circle" style="width:40px;" src="~/images/cart.jpg"></a>
        <label>@Model.Quantity</label>
    </li>
</ul>

