@model Kodhier.ViewModels.ConfirmCheckoutViewModel

@{
    ViewData["Title"] = "Continue";
}
<link rel="stylesheet" href="~/assets/css/Map-Clean.css">
<link rel="stylesheet" type="text/css" href="~/css/Order.css" />
<script>
    var geocoder;
    var map;
    function initMap() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(54.9049311, 23.9544675);
        var mapOptions = {
            zoom: 15,
            center: latlng
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        //viewAddress();
    }

    function viewAddress() {
        var address = document.getElementById('address').value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('There was a problem displaying the adress: ' + status);
            }
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHhtemjR5x_jVhJc-vPt7lRJMkVOVb4xw&callback=initMap">
</script>
<header>
    <h1>CHECKOUT</h1>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="products">
                <div class="modal-header">
                    <h6 class="display-4">ORDER</h6>
                </div>
                <br />
                <p class="font-weight-bold lead ">Total: @(Model.Price) coins&trade;</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="products">
                <div class="modal-header">
                    <h6 class="display-4">DELIVERY DETAILS</h6>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <form asp-action="Confirm" method="post">
                            <br />
                            <p class="lead">SHIPPING ADDRESS:</p>
                            <input type="text" id="address" name="confirmAddress" class="form-control"
                                   placeholder=" SHIPPING ADDRESS" value="@(Model.ConfirmAddress)" onblur="viewAddress()" />
                            <input type="submit" value="PLACE ORDER" class="btn btn-success btn-block" style="margin-top:5px" />
                            <a asp-action="Index" class="btn btn-warning btn-block" style="margin-top:5px">Back</a>
                        </form>
                    </div>
                    <div class="col-md-7">
                        <br />
                        <iframe allowfullscreen frameborder="0" height="420px" width="100%" id="map" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAHhtemjR5x_jVhJc-vPt7lRJMkVOVb4xw&amp;q=kaunas%2C+lietuva&amp;zoom=15"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@foreach (var item in Model.CheckoutList)
{
    //    <span></span><br />
}