@model Kodhier.ViewModels.ConfirmCheckoutViewModel

@{
    ViewData["Title"] = "Continue";
}
}
<link rel="stylesheet" type="text/css" href="~/css/Checkout.css" />
<script>
    var geocoder;
    var map;
    function initMap() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(54.9049311, 23.9544675);
        var mapOptions = {
            zoom: 15,
            center: latlng
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        //viewAddress();
    }

    function viewAddress() {
        var address = document.getElementById('address').value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('There was a problem displaying the adress: ' + status);
            }
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHhtemjR5x_jVhJc-vPt7lRJMkVOVb4xw&callback=initMap">
</script>
<header>
    <h1>CHECKOUT</h1>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="modal-header">
                <h4>ORDER SUMMARY</h4>
            </div>

            Total: @(Model.Price) coins&trade;<br />
            <br />
            <a asp-action="Index">Back</a><br />
        </div>
        <div class="col-md-9">
            <div class="modal-header">
                <h4>DELIVERY DETAILS</h4>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <form asp-action="Confirm" method="post">
                        SHIPPING ADDRESS: <input type="text" id="address" name="confirmAddress" value="@(Model.ConfirmAddress)" onblur="viewAddress()" /><br />
                        <input type="submit" value="PLACE ORDER" class="btn btn-success btn-block" /><br />
                    </form>
                </div>
                <div class="col-md-7">
                    <div id="map" style="width: 480px; height: 480px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@foreach (var item in Model.CheckoutList)
{
    //    <span></span><br />
}