@model IEnumerable<Kodhier.ViewModels.CheckoutViewModel>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Checkout"];
}

<link rel="stylesheet" type="text/css" href="~/css/Order.css" />
<header>
    <h1>@Localizer["SHOPPING CART"]</h1>
</header>

<div class="container col-md-4 offset-md-4">
    <div class="products">
        Shopping cart is empty
    </div>
</div>