@model IEnumerable<string>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayAdmin.cshtml";
    ViewData["Title"] = "Home Page";
}
<div class="content__inner">
    <header class="content__title">
        <h1>Photo Gallery</h1>
    </header>
    <div>
        <h3>Image Upload:</h3>
        @Html.ValidationSummary()
        <form method="post" enctype="multipart/form-data" asp-controller="Gallery" asp-action="Upload">
            <input type="file" name="imgfile" accept="image/jpeg" />
            <input type="submit" value="Upload" /><br /><br />
        </form>
    </div>
    <div class="toolbar">
        <div class="toolbar__label"><span class="hidden-xs-down">Total:</span> @Model.Count() Photos</div>
        <div class="toolbar__search">
            <input type="text" placeholder="Search...">
            <i class="toolbar__search__close zmdi zmdi-long-arrow-left" data-sa-action="toolbar-search-close"></i>
        </div>
    </div>
    <div class="row lightbox photos">
        @foreach (var item in Model)
        {
            <a href="@Url.Content(item)" class="col-md-2 col-4">
                <div class="lightbox__item photos__item">
                    <img src="@Url.Content(item)" alt="" />
                </div>
            </a>
        }
    </div>
</div>
