@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/css/Profile.css" />
<div class="col-md-12 col-sm-12">
    <div class="modal-header">
        <h2>@Localizer["Manage your account"]</h2>
    </div>
            @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

