@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="modal-header">
    <h2>Manage your account</h2>
</div>
<div class="row">
    <div class="col-md-4">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

