@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayAdmin.cshtml";
}

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<style>
    .no-css {
        all: initial;
    }

        .no-css #out {
            background-color: white;
        }
</style>

<h2>Email management</h2>
<form asp-action="SendEmail" onsubmit="return send()">
    <input type="text" class="form-control" name="subject" placeholder="Subject" required />
    <input type="hidden" id="formHtml" name="htmlMessage" />

    <div id="editor">
        <p>Hello World!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br></p>
    </div>
    <br />
    <input type="submit" />
</form>
<br />
<button onclick="update()">Preview</button>
<br /><br />
<div class="no-css">
    <div id="out">
        <p></p>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var quill = new Quill('#editor', {
            modules: { toolbar: true },
            theme: 'snow'
        });
        function update() {
            $('#out').html($('#editor .ql-editor').html());
        }
        function send() {
            if (!confirm('Are you sure?'))
                return false;
            if (!confirm('Are you really sure?'))
                return false;
            $('#formHtml').val($('#editor .ql-editor').html());
            return true;
        }
    </script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
