@model Kodhier.ViewModels.Admin.PizzaViewModels.PizzaFormViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayAdmin.cshtml";
    ViewData["Title"] = "Edit";
}

<link href="~/adm/css/Custom.css" rel="stylesheet" />
<header class="content__title">
    <h1>Create pizza</h1>
</header>

<div class="row">
    <div class="main2 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameLt" class="control-label"></label>
                <input asp-for="NameLt" class="form-control" />
                <span asp-validation-for="NameLt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameEn" class="control-label"></label>
                <input asp-for="NameEn" class="form-control" />
                <span asp-validation-for="NameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceCategoryId" class="control-label"></label>
                <select asp-for="PriceCategoryId" asp-items="@(new SelectList(Model.PriceCategories, "Id", "Description"))" class="form-control"></select>
                <span asp-validation-for="PriceCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <select asp-for="ImagePath" asp-items="@(new SelectList(Model.ImageList))" class="form-control"></select>
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionLt" class="control-label"></label>
                <input asp-for="DescriptionLt" class="form-control" />
                <span asp-validation-for="DescriptionLt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionEn" class="control-label"></label>
                <input asp-for="DescriptionEn" class="form-control" />
                <span asp-validation-for="DescriptionEn" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-outline-success" style="cursor:pointer; margin:5px 5px 5px 20px" />
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-outline-danger" style="margin:5px 5px 5px 5px">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}