@model Kodhier.Areas.Admin.ViewModels.PizzaViewModel

@{
    ViewData["Title"] = "Edit";
}
<link href="~/css/Layout.css" rel="stylesheet" />
<header>
    <h1>EDIT PIZZA</h1>
</header>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="main">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>
                        </div>
                    <div class="form-group">
                        <label asp-for="ImagePath" class="control-label"></label>
                        <input asp-for="ImagePath" class="form-control" />
                        <span asp-validation-for="ImagePath" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="submit" value="Edit" class="btn btn-outline-success" style="margin:5px 5px 5px 20px" />
                        </div>
                        <div>
                            <a asp-action="Index" class="btn btn-outline-danger" style="margin:5px 5px 5px 5px">Cancel</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>


    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
