body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../images/loginBackgr1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.main {
    position: relative;
    width: 480px;
    height: 600px;
    padding: 10px;
    margin: 100px auto;
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #000;
}

/*places an icon in the middle*/
header {
    position: relative;
    text-align: center;
    margin-top: -55px;
}

img {
    width: 100px;
    height: auto;
}
/*Log in text*/
h2 {
    font-size: 25px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

#login-box {
    padding: 20px;
}
label {
    color: #fff;
    font-size: 20px;
    text-shadow: 1px 1px 1px #000;
}

::-webkit-input-placeholder {
    color: #999;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    background: linear-gradient(#f44336, #b71c1c);
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 2px 1px #000;
}

    .btn:focus {
        outline: none;
    }

    .btn:hover {
        background: linear-gradient(#b71c1c,#f44336);
    }

