@{
    ViewData["Title"] = "Home Page";
}
<body id="mainsec">
    <section>
        <div id="location" class="intro">
            <h2 class="text-center" id="best">This week's best offers</h2>
        </div>
    </section>
    <div class="carousel slide" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item">
                <div class="jumbotron jumbotron-fluid hero-nature carousel-hero" style="border:double;border-color:rgb(0,244,24);">
                    <h1 class="hero-title">Text</h1>
                    <p class="hero-subtitle">more smaller text</p>
                    <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#" style="background-color:rgb(255,138,0);opacity:0.8;">Order Now!</a></p>
                </div>
            </div>
            <div class="carousel-item active">
                <div class="jumbotron hero-photography carousel-hero" style="border-width:15px;border:groove;border-color:rgb(255,0,46);">
                    <h1 class="hero-title">Text</h1>
                    <p class="hero-subtitle">more smaller text</p>
                    <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#" style="background-color:rgb(255,138,0);opacity:0.8;">Order Now!</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="jumbotron hero-technology carousel-hero" style="border:double;border-color:orange;">
                    <h1 class="hero-title">Text</h1>
                    <p class="hero-subtitle">more smaller text</p>
                    <p><a class="btn btn-primary btn-lg hero-button" role="button" href="#" style="background-color:rgb(255,138,0);opacity:0.8;">Order Now!</a></p>
                </div>
            </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0"></li>
            <li data-target="#carousel-1" data-slide-to="1" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
        </ol>
    </div>
    <div class="container" id="contain">
        <div id="location" class="intro">
            <h2 class="text-center">We're located</h2>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-center" style="color:rgb(0,0,0);background-color:#ffffff;"><img src="assets/img/phone.png">Contacts&nbsp;</h2>
                    <h3 class="text-center" style="background-color:red;">+370 64 524 636</h3>
                    <h3 class="text-center" style="background-color:red;">+370 64 524 636</h3>
                    <h2 class="text-center" style="color:rgb(0,0,0);background-color:#ffffff;"><img src="assets/img/email60x60.png">&nbsp;Email&nbsp;</h2>
                    <h3 class="text-center" style="background-color:red;">orders@kodhier.com</h3>
                    <h3 class="text-center" style="background-color:red;">info@kodhier.com</h3>
                </div>
                <div class="col-md-6"><iframe allowfullscreen="" frameborder="0" width="100%" height="450" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAHhtemjR5x_jVhJc-vPt7lRJMkVOVb4xw&amp;q=kaunas%2C+lietuva&amp;zoom=15"></iframe></div>
            </div>
        </div>
    </div>
    <div class="map-clean"></div>
    <section class="copyright">
        <div class="copyright-inner">
            <p class="text-center">&#169 2018, Kodhier.</p>
        </div>
    </section>
</body>